@import "fonts/stylesheet.css";



#recipiente{
	background-image:linear-gradient(to bottom, #f6f1b2, #4599b2);
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	border: 1px solid #D3D3D3;
	position: relative;
	

}

#cabecalho h1 {
	font-size: 36px;
    color: #e90c0c;
    font-family: Ravie;
    margin-bottom: 0px;
    margin-left: 150px;
}

#cabecalho h2 {
    font-family: Trebuchet MS;
    font-size: 24px;
    color: #333;
    margin: 0px;
    text-align: right;
    margin-right: 100px;
    margin-bottom: 5px;
}

#cabecalho span{
	color: #d027aa;
	
}

#lateral{
	position: absolute;
    width: 154px;
    left: 0px;
    top:10px;
}



#lateral h2{
	transform: rotate(270deg);
    font-family: Verdana;
    font-size: 48px;
    color: #333;
    font-weight: bold;
    margin-top: 240px;
    margin-bottom: 60px
}


#siri{
	margin-left: -10px;
}	


#bolhas{
   margin-bottom: 14px;
   margin-left: 40px;

}

#peixe{
	margin-left: -44px;
	
}
